@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "tailwindcss";

*{
  font-family: Titillium Web, sans-serif;
}

@theme {
  --color-dark-100: #1a1a1a;
  --color-dark-200: #1f1f1f;
  --color-dark-300: #2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #885CF6;
  --color-pink: #EC4899;
  --color-blue: #3B82F6;
}

.typewriter {
  overflow: hidden; 
  border-right: .15em solid #8B5CF6;
  white-space: nowrap; 
  word-wrap: 0; 
  animation: typing 3s steps(15 , end), forwards, blink-caret .75s step-end 2;
  width: fit-content;
  
}

@keyframes typing {
  from { width: 0 }
  to { width: 15ch; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8B5CF6; }
}

